<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>SHAREit - Profile</title>
</head>
<body>
    <div class="dashboard">

        <!-- SITE TITLE / HEADER -->
        <div class="nav d-flex justify-content-between">
            <h1 class="blue-title">SHAREit</h1>
            <h3 class="d-flex justify-content-around">
                <a class="nav-link" href="/dashboard">Dashboard</a>
                <a class="nav-link ml-3" href="/logout">Sign Out</a>
            </h3>
        </div>

        <div class="profile my-5">
            <!-- USER IMAGE / NAME / VIEW POSTS BUTTON -->
            <div class="top-section d-flex justify-content-around">
                <div class="single-friend">
                    <img class="friend-img" src="{{url_for('static',filename = 'images/default-user.png')}}"
                        alt="placeholder image"><br>
                </div>
                <div>
                    <h2>Profile</h2>
                    <h3>Name: {{user.first_name}} {{user.last_name}}</h3>
                </div>
            </div>
    
            <!-- FRIENDS SECTION -->
            <div class="friend-section my-5">
                <h2>Your Posts</h2>
                <div class="friends d-flex justify-content-between">
                    {% for post in posts %}
                    <div>
                        <p>{{post.content}}</p>
                        <div class="d-flex justify-content-between">
                            <p>Posted By: {{post.user_id.first_name}} {{post.user_id.last_name}}</p>
                            <p>Created On: {{post.created_at.strftime('%d-%m-%Y')}}</p>
                        </div>
                        <div>
                            <a href="/edit/post/{{post['id']}}">Edit</a>
                            <a href="/delete/post/{{post['id']}}">Delete</a>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>